.Menu-Item {
  border-radius: 1.2rem;
}

.Pizza-Menu {
  background-color: rgba(252, 5, 0, 0.5);
}
.Pasta-Menu {
  background-color: rgba(229, 189, 10, 0.5);
}
.Salads-Menu {
  background-color: rgba(0, 84, 3, 0.5);
}
.Desserts-Menu {
  background-color: rgba(255, 204, 204, 0.5);
}

@media screen and (min-width: 992px) {
  .menu-col-lg {
    flex: 0 0 22% !important;
  }
}
