.ingredient-input-item {
  font-size: 2rem;
}

.ingredient-input-item:first-of-type {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .ingredient-input-item:first-of-type {
    margin-top: 3rem;
  }
}
