.pizza {
  background-color: rgba(252, 5, 0);
}

.basic {
  background: rgba(248, 249, 250, 0.85);
}

.category_title {
  letter-spacing: 4px;
}

.total-price {
  font-size: 3rem;
}

.close-button > * {
  max-width: 12rem;
  transition: 0.3s;
}

.close-button:hover > * {
  transform: scale(1.15);
}
