.card-item {
  margin-top: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.card-item .span-title {
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.card-item:hover .span-title {
  border-bottom: 2px solid #4b3114;
}

.card-item .card-image {
  transition: 0.3s;
}

.card-item:hover .card-image {
  transform: scale(1.05);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.card-item:focus {
  outline: none;
}

.card-item:focus .span-title {
  border-bottom: 2px solid #4b3114;
}

.card-body img {
  max-width: 100%;
}
