.card-item {
  margin-top: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.card-item .span-title {
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.card-item:hover .span-title {
  border-bottom: 2px solid var(--main-color);
}

.card-item .card-image {
  padding-top: 2rem;
  transition: 0.3s;
}

.card-body {
  padding: 0 !important;
  overflow: hidden;
}

.card-image {
  width: 100%;
}

.card-item:hover .card-image {
  transform: scale(1.1);
}

.card-item:focus {
  outline: none;
}

.card-item:focus .span-title {
  border-bottom: 2px solid var(--main-color);
}

.card-body img {
  max-width: 100%;
}
