.cart-dropdown {
  position: absolute;
  width: 28rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #000;
  background-color: #fff;
  top: 17rem;
  right: 2rem;
  z-index: 5;
}

.cart-items {
  height: 30rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.empty-message {
  font-size: 1.8rem;
  margin: 3rem auto;
}
