.story {
  width: 75%;
  margin: 0 auto;
}

.story h2,
.team h2 {
  margin-bottom: 5rem;
}

.story p {
  font-size: 1.8rem;
}

.team {
  margin: 10rem auto 12rem;
}

.profile img {
  border-radius: 50%;
}
