button {
  cursor: pointer;
  transition: hover 0.3s;
  border: none;
  background-color: transparent;
  width: 100%;
  max-width: 15rem;
}

button img {
  max-width: 100%;
}

#order_btn:focus {
  outline: none;
}

.empty {
  opacity: 0;
}
button:hover .empty,
button:focus .empty {
  opacity: 1;
}

.navbar-light {
  background: rgba(248, 249, 250, 0.85) !important;
}

.BorderRight {
  border-right: 1px solid #4b3114;
}

.Row {
  min-width: 75%;
}

.Logo {
  max-width: 100%;
}

.logo-link {
  border: 2px solid transparent;
  display: block;
}

.logo-link:hover,
.logo-link:focus {
  border: none;
}

.logo-link:focus {
  outline: none;
  border: 2px solid #4b3114;
}

.w-15 {
  width: 15%;
}

.nav-link {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0 !important;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.nav-link:hover {
  border-bottom: 2px solid #4b3114;
}

.nav-link:focus {
  outline: none;
  border-bottom: 2px solid #4b3114;
}

li.nav-item.active {
  font-weight: bold;
}

#order_btn {
  position: relative;
}

#order_btn .empty,
#order_btn .full {
  position: absolute;
  left: 0;
  top: -3rem;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
  .nav-link {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .link-logo {
    padding: 0;
    width: 14rem;
  }
  #OrderNowButton {
    width: 10rem;
    margin-left: 3rem;
  }
  .navbar {
    padding: 0 !important;
  }
  .nav-link {
    font-size: 0.9rem;
    padding-left: 1rem !important;
  }
}

@media (max-width: 575px) {
  .BorderRight {
    border: none;
  }
  .navbar {
    padding: 0.5rem 1rem !important;
  }
  .display-md-none {
    display: none !important;
  }
  .container-fluid {
    text-align: center;
  }

  #order_btn .full,
  #order_btn .empty {
    top: -10rem;
  }
}
