button {
  cursor: pointer;
  transition: hover 0.3s;
  border: none;
  background-color: transparent;
  width: 100%;
  max-width: 15rem;
}

.navbar-light {
  background: rgba(248, 249, 250, 0.85) !important;
}

.navbar-toggler {
  border: none !important;
  font-size: 2.5rem !important;
}

.navbar-container {
  min-height: 15rem;
}

.BorderRight {
  border-right: 1px solid #4b3114;
}

.Row {
  width: 100%;
}

.Logo {
  max-width: 100%;
}

.logo-link {
  border: 2px solid transparent;
  display: block;
}

.logo-link:hover,
.logo-link:focus {
  border: 2px solid #4b3114;
  border-radius: 35%;
}

.logo-link:focus {
  outline: none;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4b3114;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0 !important;
  transition: all 0.2s;
  position: relative;
}

.nav-link:focus {
  outline: none;
}

li.nav-item.active {
  font-weight: bold;
}

.cart-icon-container {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 1066px) {
  .nav-link {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .BorderRight {
    border: none;
  }
  .link-logo {
    padding: 0;
  }
  .navbar {
    padding: 0 !important;
  }
  .display-md-none {
    display: none !important;
  }
}

@media (max-width: 575px) {
  .navbar {
    padding: 0.5rem 1rem !important;
  }
  .container-fluid {
    text-align: center;
  }
}
