.LargeMenuItem {
  font-size: 2.2rem;
  padding: 1rem;
}

.ItemTitle {
  display: inline-block;
}

.MenuItem {
  font-size: 2.3rem;
}

.btn {
  max-width: 100% !important;
  font-size: 1.8rem !important;
}
