.Menu-Item {
  border-radius: 1.2rem;
}

.Pizza-Menu {
  background-color: var(--pizza-menu-bg);
}
.Pasta-Menu {
  background-color: var(--pasta-menu-bg);
}
.Salads-Menu {
  background-color: var(--salads-menu-bg);
}
.Desserts-Menu {
  background-color: var(--desserts-menu-bg);
}

@media screen and (min-width: 992px) {
  .menu-col-lg {
    flex: 0 0 22% !important;
  }
}
