.event-content {
  font-size: 1.75rem;
}

.border-separator {
  border-bottom: 2px solid var(--secondary-color);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 1.8rem;
}

.border-color-brown {
  border-color: var(--main-color);
}

.sample-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../assets/img/pizza.jpg") no-repeat;
  background-size: cover;
  min-height: 400px !important;
  max-width: 100%;
}

.sample-menu__title {
  font-size: 7rem !important;
  color: var(--secondary-color);
}

.icon {
  position: relative;
}

.icon-container {
  background: var(--main-color);
  width: 8rem !important;
  height: 8rem !important;
  line-height: 8rem;
  position: relative;
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .sample-menu__title {
    font-size: 9rem !important;
  }

  .icon.first::before {
    left: 50%;
    width: 50%;
  }

  .icon.last::before {
    width: 50%;
  }

  .icon::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background: var(--main-color);
  }
}

@media screen and (min-width: 1360px) {
  .sample-menu {
    min-height: 600px !important;
  }
  .sample-menu__title {
    font-size: 11rem !important;
  }
}
