.Footer {
  font-size: 2rem;
  padding: 3.2rem 0;
  padding-bottom: 0;
  background-color: var(--main-color);
  color: white;
  border-top: 0.05rem solid var(--main-grey);
  margin-top: 3rem;
  min-height: 25vh;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.LinkFacebook,
.LinkInsta {
  width: 8rem;
  height: 8rem;
}

.LinkInsta {
  background: url("../../assets/img/insta-empty.svg") no-repeat;
}

.LinkFacebook {
  background: url("../../assets/img/facebook-empty.svg") no-repeat;
}

.LinkFacebook:hover,
.LinkInsta:hover {
  border: none;
}

.LinkFacebook:hover {
  background: url("../../assets/img/facebook-hover.svg") no-repeat;
}

.LinkInsta:hover {
  background: url("../../assets/img/insta-hover.svg") no-repeat;
}

@media (max-width: 768px) {
  .LinkFacebook,
  .LinkInsta {
    width: 6rem;
    height: 6rem;
  }
}
