.Footer {
  font-size: 2rem;
  padding: 3.2rem 0;
  background-color: #4b3114;
  color: white;
  border-top: 0.05rem solid #e5e5e5;
  margin-top: 3rem;
  min-height: 25vh;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.LinkFacebook,
.LinkInsta {
  width: 15%;
  height: 100%;
}

.LinkInsta {
  background: url("../../assets/img/insta-empty.svg") no-repeat;
}

.LinkFacebook {
  background: url("../../assets/img/facebook-empty.svg") no-repeat;
}

.LinkFacebook:hover,
.LinkInsta:hover {
  border: none;
  background-size: cover;
}

.LinkFacebook:hover {
  background: url("../../assets/img/facebook-hover.svg") no-repeat;
}

.LinkInsta:hover {
  background: url("../../assets/img/insta-hover.svg") no-repeat;
}
