@font-face {
  font-family: "Rockwell Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/ROCC____.TTF) format("ttf"),
    url(./assets/fonts/Rockwell-Condensed.woff) format("woff"),
    url(./assets/fonts/Rockwell-Condensed.woff2) format("woff2"),
    url(./assets/fonts/Rockwell-Condensed.eot) format("eot");
}
@font-face {
  font-family: "Rockwell Condensed Bold";
  font-style: bold;
  font-weight: 700;
  src: url(./assets/fonts/ROCCB___.TTF) format("ttf"),
    url(./assets/fonts/Rockwell-CondensedBold.woff) format("woff"),
    url(./assets/fonts/Rockwell-CondensedBold.woff2) format("woff2"),
    url(./assets/fonts/Rockwell-CondensedBold.eot) format("eot");
}

@font-face {
  font-family: "Gill Sans MT Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/GillSansMTCondensed.ttf) format("ttf"),
    url(./assets/fonts/GillSansMT-Condensed.woff) format("woff"),
    url(./assets/fonts/GillSansMT-Condensed.woff2) format("woff2"),
    url(./assets/fonts/GillSansMT-Condensed.eot) format("eot");
}

html {
  /* This defines what 1rem is. (in this case, it is 10px)*/
  font-size: 62.5%;
}

body {
  font-family: "Gill Sans MT Condensed", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 1.6rem !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */

a {
  color: #fdeef2;
  transition: 0.2s linear all;
}

a:hover {
  color: #e5bd0a;
  text-decoration: none;
}

.Heading {
  font-family: "Rockwell Condensed" !important;
}

.Subheading {
  font-family: "Gill Sans MT Condensed" !important;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-10 {
  margin-bottom: 6rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-10 {
  margin-top: 6rem;
}

.mt-15 {
  margin-top: 8rem;
}

.pl-10 {
  padding-left: 6rem;
}

.pr-10 {
  padding-right: 6rem;
}

.w-75 {
  width: 75%;
}

.display-0 {
  font-size: 20rem !important;
}

.display-2 {
  font-size: 5.5rem !important;
}

/* Make your own pizza button styles */

.btn-pizza {
  text-decoration: none;
  position: absolute;
  right: 10rem;
  font-size: 2.5rem !important;
  background: #4b3114;
  color: #e5bd0a;
  font-weight: bold;
  font-size: 2.2rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 0px 5px #4b3114;
  border: dashed 2px #e5bd0a;
  transition: all 0.4s;
}

.btn-pizza:hover {
  border-color: #4b3114;
  background: #e5bd0a;
  box-shadow: 0px 0px 0px 5px #e5bd0a;
  color: #4b3114;
}

.btn {
  font-size: 1.6rem;
  padding: 0.7rem 1.6rem;
}

.pointer {
  cursor: pointer;
}

/* Addition to bootstrap classes for centering text based on screen size */
@media (max-width: 575px) {
  .text-left-not-sm,
  .text-center-not-sm,
  .text-right-not-sm,
  .text-justify-not-sm {
    text-align: inherit;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-justify-sm {
    text-align: justify;
  }

  .mt-xs-5 {
    margin-top: 3rem;
  }
}
