@font-face {
  font-family: "Rockwell Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/ROCC____.TTF) format("ttf");
}
@font-face {
  font-family: "Rockwell Condensed Bold";
  font-style: bold;
  font-weight: 700;
  src: url(./assets/fonts/ROCCB___.TTF) format("ttf");
}
@font-face {
  font-family: "Gill Sans MT Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/GillSansMTCondensed.ttf) format("ttf");
}

html {
  /* This defines what 1rem is. (in this case, it is 10px)*/
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fdeef2;
  transition: 0.2s linear all;
}

a:hover {
  color: #e5bd0a;
  text-decoration: none;
  border-bottom: 1px solid;
}

.Heading {
  font-family: "Rockwell Condensed" !important;
}

.Subheading {
  font-family: "Gill Sans MT Condensed" !important;
}

/* Addition to bootstrap classes for centering text based on screen size */
@media (max-width: 575px) {
  .text-left-not-sm,
  .text-center-not-sm,
  .text-right-not-sm,
  .text-justify-not-sm {
    text-align: inherit;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-justify-sm {
    text-align: justify;
  }
}
